<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <div class="py-3">
        <h3><%= title %></h3>
        <a href="/" class="btn btn-primary mb-3">Go Back</a>
        <hr>
        <% if (message != '') { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <% if (products) { %>
            <form action="/product/edit/<%= products.id %>" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="name" class="form-label">Product Name</label>
                    <input type="text" class="form-control" name="name" value="<%= products.name %>" required>
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" name="category" value="<%= products.category %>" required>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" step="0.01" class="form-control" name="price" value="<%= products.price %>" required>
                </div>

                <div class="mb-3">
                    <label for="stock" class="form-label">Stock</label>
                    <input type="number" class="form-control" name="stock" value="<%= products.stock %>" required>
                </div>

                <div class="mb-3">
                    <label for="image" class="form-label">Product Image</label>
                    <input type="file" class="form-control" name="image" accept="image/png, image/jpeg, image/gif">
                    <input type="hidden" value="<%= products.image %>" name="old_image">
                    <img class="mt-2" width="200" src="/assets/img/<%= products.image %>" alt="<%= products.name %>">
                </div>

                <button type="submit" class="btn btn-success">Update Product</button>
            </form>
        <% } else { %>
            <p class="text-center">Product not found.</p>
        <% } %>
    </div>
</div>

<%- include('partials/footer.ejs') %>
